body {
  margin: 0;
  padding: 0;
 /* background-color:#212122*/
}
#help {
	float:right;
  width:20em;
}

#abc
{
  color:black;
  margin-left:100px;
}
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1600px;
    height: 70px;

    padding-bottom: 10px; 
  }
  .navigation-bar {
    /*background-color: #444648;*/
    height: 70px;
    width: 100%;
    padding-bottom: 20px;
  }

  .navigation-bar img{
  float:left;
  height: 70px;
  width:200px;
  padding-bottom: 5px;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: #ff9900;
    font-size: 16px;
    font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 20px;
    opacity: 0.7;
  }
.footer {
  margin-left: 30px;
  margin-right: 30px; 
  padding: 10px 10px 10px 10px;
  display:block;
  vertical-align:top;
  color: white;
  font-size: 16px;
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  opacity: 0.7;
}
.slideshow {
	border-top: 2px solid #e95959;
	margin-left: 30px;
  margin-right: 30px; 
  border-bottom: 2px solid #e95959;
}

  
#videoBG
{
  position:fixed;
  z-index:-1;
  opacity: 0.7;
  
}
@media(min-aspect-ratio:16/9)
{
  #videoBG
  {
    width:100%;
    height:100%;
  }
}
@media(max-aspect-ratio:16/9)
{
  #videoBG
  {
    width:100%;
    height:100%;
  }
}
@media(max-width:767px)
{
  #videoBG
  {
    display:none;
  }
  body
  {
    background: url('poster.png');
    background-size: cover;
  }
}

.content {
  position: fixed;
  width: 100%;
  padding: 20px;
}


.con {
  margin-right:670px;
}


.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

#dvImage
{
  position:fixed;
  z-index:-1;
  
}

a:hover
{
  background-color: white;
  border-radius: 40px;
}

img
{
  float:left;
  height: 70px;
  width:200px;
  padding-bottom: 5px;
}