
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;  
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;

}


body {
  margin: 0;
  padding: 0;
  background-color:#212122
}
#help {
	margin-right:570px;
}
  .logo {
    float: left;
  }

  #ra {
  float:right;
  width:15em;
}
  
  #navigation-container {
    width: 1600px;
    height: 70px;
    padding-bottom: 1px;
    

  }
  .navigation-bar {
    /*background-color: #444648;*/
    height: 70px;
    width: 100%;
    padding-bottom: 2px;
      }

  .navigation-bar img{
  float:left;
  height: 70px;
  width:200px;
  padding-bottom: 5px;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
    
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 5px;
    opacity: 0.7;
  }
.footer {
  margin-right: 30px;
  margin-top:200px; 
  padding: 10px 10px 10px 10px;
  display:inline-block;
  vertical-align:top;
  color: white;
  font-size: 16px;
  font-family: "Alegreya Sans SC", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  opacity: 0.7;
  border-top: 2px solid #cc7a00 ;
}
.slideshow {
	border-top: 2px solid #cc7a00 ;
	margin-left: 30px;
    margin-right: 30px; 
    border-bottom: 2px solid #cc7a00 ;
}
#keshavkad {
  border-bottom: 2px solid #cc7a00 ;
}
#s
{
  text-align: center;
  text-decoration: none;
  width: 420px;
  height: 50px;
  background-color: #cc7a00 ;
  color: #4E4E50;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color:white;
  font-size:20px;
}
#t
{
  margin-left: 120px;
}
table
{

  border-spacing: 20px;
}
body {
  background: grey url("bg11.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 40px;
  box-sizing: border-box;
 


}

input[type=submit] {
  text-align: center;
  text-decoration: none;
  width: 10%;
  background-color: #cc7a00 ;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color:white;
  font-size:20px;
  
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: black;

}
button
{
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 360px;
  height: 62px;
  background-color: #cc7a00 ;
  color: #4E4E50;
  padding: 14px 20px;
  border: solid #e6e6e6;
  cursor: pointer;
  color:white;
  font-size:20px;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 0 9px #999;
}
button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover
{
  border-radius: 40px;
  background-color: black;
  color:orange;
}
button:focus {outline:0;}
input[type=submit]:focus
{
  outline:0;
}
input[type=submit]:onclick
{
  outline:0;
}